# Bỏ tất cả data đầu ra
/data/
./data/
./output/
./outputs/

# Bỏ các file môi trường
.env
secrets.toml

# File log, debug
*.log
*.tmp

# File từ hệ điều hành
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# VSCode
.vscode/

# Ignore text extraction temporary file
text.txt

# Ignore model download/cache folders
models/
checkpoints/