# Python-specific
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
pip-wheel-metadata/
build/
dist/
models
.devcontainer

# Streamlit-specific
.streamlit/
*.sqlite3

# Compiled and binary files
*.gguf
*.bin
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.out

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Conda-specific
.conda/

# Chroma DB (optional: remove if you want to commit this)
chroma_db/

# Git-specific
.git/
.gitignore